@mixin breakpoint($point) {
    @if $point == large {
        @media (min-width: 1200px) {
            @content;
        }
    } @else if $point == desktop {
        @media (min-width: 992px) {
            @content;
        }
    } @else if $point == laptop {
        @media (min-width: 768px) {
            @content;
        }
    } @else if $point == tablet {
        @media (min-width: 50em) {
            @content;
        }
    } @else if $point == mobile {
        @media (max-width: 480px) {
            @content;
        }
    }
}

@mixin btn-brand {
    height: 36px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 34px;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    transition: opacity 0.3s;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    &:hover {
        opacity: 0.7;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@mixin btn-brand {
    height: 36px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 34px;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    transition: opacity 0.3s;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    &:hover {
        opacity: 0.7;
    }
}

@mixin btn-silver {
    height: 36px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 34px;
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    color: #111;
    transition: opacity 0.3s;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
    &:hover {
        opacity: 0.7;
    }
}
